.btn {
  padding: 13px 30px;
  background: #f3f3f5;
  border-radius: 15px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #5c5c5c;
  transition: 0.2s all ease-in-out;
  border: none;
  cursor: pointer;
}
.btn:focus{
    background: #1C2835;
    color: #fff;
}
