.header {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1000;
}
.header__inner {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 204px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #1c2835;
}
.btns {
  display: flex;
}

.btn__add {
  width: 230px;
  height: 45px;
  background: #90ebff;
  border-radius: 15px;
  font-size: 16px;
  color: #1c2835;
  margin-right: 20px;
  border: none;
}


.btn__signUp {
  width: 108px;
  height: 45px;
  background: #1c2835;
  border-radius: 15px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

  @media (max-width: 600px) {
    .btn__add {
      width: 180px;
      height: 45px;
    }
    .btn__signUp{
      width: 80px;
    }
  }
  @media (max-width:520px){
  .btn__add{
    display: none;
  }
  }
  @media (max-width:370px){
  .btn__signUp{
    display: none;
  }
  .logo {
    width: 98px;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
  }
  .logo h2{
    font-size: 12px;
  }
  .logo_img{
    width: 18px;
    height: 15px;
  }
  }